
*.db-shm
*.db-wal
*.vsidx
/EduAcceso/.vs

*.dll
/EduAcceso/bin/Debug
/EduAcceso/obj
/EduAcceso/packages/BouncyCastle.1.8.5


/EduAcceso/packages/Bunifu.Charts.WinForms.1.1.5
*.p7s
*.nupkg
/EduAcceso/packages/Bunifu.Licensing.6.1.1
/EduAcceso/packages/Bunifu.UI.WinForms.9.0.1/lib/net462
/EduAcceso/packages/Bunifu.UI.WinForms.9.0.1/lib/net472
*.xml
/EduAcceso/packages/Bunifu.UI.WinForms.9.0.1
/EduAcceso/packages/Google.Protobuf.3.14.0/lib/net45
/EduAcceso/packages/Google.Protobuf.3.14.0/lib
/EduAcceso/packages/Bunifu.UI.WinForms.NetCore.1.0.1
*.TXT
/EduAcceso/packages/Microsoft.Bcl.AsyncInterfaces.5.0.0
/EduAcceso/packages/Microsoft.CSharp.4.7.0/lib/MonoAndroid10
*._
*.png
*.xdt
/EduAcceso/packages/Oracle.ManagedDataAccess.19.13.0/content/net40
/EduAcceso/packages/Oracle.ManagedDataAccess.19.13.0/PerfCounters
/EduAcceso/packages/System.CodeDom.9.0.4/buildTransitive/net461
/EduAcceso/packages/System.CodeDom.9.0.4/buildTransitive/netcoreapp2.0
/EduAcceso/packages/System.Management.9.0.4/buildTransitive/netcoreapp2.0
/EduAcceso/Properties
